*{
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    text-align: center;
}

body {
  background-color: black;
}

.bg{
    background-image: url("./image/bg.png");
    background-position: center;    
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0; 
}

main{
    text-align: center;
    padding: 40px;
    position: relative;
    z-index: 100;
}

.content{
    display: flex; 
    justify-content: center;
}

.numContent{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.numContentResult{
    margin: 50px;
    position: relative;
    z-index: 100;
}

.num{
    border-radius: 10px;
    width: 250px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.204);
    /* border: 1px solid white; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    /* white-space: 10px; */
   font-family: 'Bebas Neue', sans-serif;

    cursor: pointer;
}

.numResult{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.204);
    /* border: 1px solid white; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    /* white-space: 10px; */
   font-family: 'Bebas Neue', sans-serif;

}

.numBoard{
    width: 100%;
    height: 140px;
    background-color: rgba(255, 255, 255, 0.204);
    /* border: 1px solid white; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    /* white-space: 10px; */
   font-family: 'Bebas Neue', sans-serif;

    cursor: pointer;
}

.goButton {
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.goButton:hover{
    background-color: white;
    color: black;
    transition-duration: 200ms;
}

.control{
    opacity: 50%;
    position: fixed;
    z-index: 200;
    bottom: 40px;
    left: 40px;
}

.active{
    background: yellow;
    color: black;
    width: 250px;
}

.activeBoard{
    background: yellow;
    color: black;
}


@media screen  {
    
}